<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">新增餐廳<i class="fas fa-key"></i></h5>
          <hr>
          <form method="POST" action="/restaurants">

            <div class="row g-2 mb-3">
              <label for="name" class="col-md-4 col-form-label">
                餐廳名稱
              </label>
              <div class="col-md-8">
                <input type="text" name="name" class="form-control" placeholder="請輸入餐廳名稱..." id="name" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="name_en" class="col-md-4 col-form-label">
                餐廳英文名稱
              </label>
              <div class="col-md-8">
                <input type="text" name="name_en" class="form-control" placeholder="請輸入餐廳英文名稱..." id="name_en" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="category" class="col-md-4 col-form-label">
                類別
              </label>
              <div class="col-md-8">
                <input type="text" name="category" class="form-control" placeholder="請輸入餐廳類別..." id="category" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="image" class="col-md-4 col-form-label">
                圖片位址
              </label>
              <div class="col-md-8">
                <input type="url" name="image" class="form-control" placeholder="請輸入餐廳完整圖片位址.." id="image" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="location" class="col-md-4 col-form-label">
                地址
              </label>
              <div class="col-md-8">
                <input type="text" name="location" class="form-control" placeholder="請輸入餐廳地址..." id="location" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="phone" class="col-md-4 col-form-label">
                電話
              </label>
              <div class="col-md-8">
                <input type="tel" name="phone" class="form-control" placeholder="請輸入餐廳電話..." id="phone" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="google_map" class="col-md-4 col-form-label">
                Google Map
              </label>
              <div class="col-md-8">
                <input type="url" name="google_map" class="form-control" placeholder="請輸入餐廳完整google map網址..." id="google_map" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="number" class="col-md-4 col-form-label">
                評分
              </label>
              <div class="col-md-8">
                <input type="text" name="rating" class="form-control" placeholder="請輸入餐廳評分..." id="rating" required>
              </div>
            </div>

            <div class="row g-2 mb-3">
              <label for="description" class="col-md-4 col-form-label">
                詳細敘述
              </label>
              <div class="col-md-8">
                <input type="text" name="description" class="form-control" placeholder="請輸入餐廳敘述..." id="description" required>
              </div>
            </div>

            <button class="btn btn-success" type="submit">新增</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
